


*{
    margin: 0;
    padding: 0;
}


body{
background-image: url('https://cdn.onebauer.media/one/empire-tmdb/films/10681/images/2nFyTvssbtJMLC6eyYwwZ88gALD.jpg?quality=50&width=1800&ratio=16-9&resizeStyle=aspectfill&format=jpg');
background-repeat: no-repeat;
background-attachment: fixed;
}

/* Navigation Bar */
    
/*Background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  border-radius:5px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}

/*The links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* color of links on hover */
.topnav a:hover {
  background-color: dimgrey;
  color: black;
}

/*color og the active/current link */
.topnav a.active {
  background-color: blue;
  color: white;
}